@(message: String)
@main(message) {
    <body>
        <nav class="navbar fixed-top cnavbar-collapse collapse">
            <div class="container navcontainer">
                <a class="navbar-brand" href="#">
                    <img src="https://openclipart.org/image/600px/svg_to_png/226091/Restaurant-Sign-Black.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    RestaurantReview</a>
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                         role="dropdown-item" aria-haspopup="true" aria-expanded="false">
                            Register</a>
                        <div class="dropdown">
                            <a class="dropdown-item" href="@routes.CustomerController.create()">Customer</a>
                            <a class="dropdown-item" href="@routes.OwnerController.create()">Owner</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        role="dropdown-item" aria-haspopup="true" aria-expanded="false">
                        
						Login</a>
						<div class="dropdown">
                        <div class="nav-item dropdown">
                            <a class="dropdown-item" href="@routes.CustomerController.login()">Customer</a>
                            <a class="dropdown-item" href="@routes.OwnerController.login()">Owner</a>
                        </div>
						</div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="jumbotron-text">
                <div class="row">
                    <div class="col-6">
                        <h1 class="display-3">Welcome to<br>RestaurantReview.</h1>
                        <p class="lead">Search for popular restaurants, check out restaurant reviews and rate restaurants</p>
                        <hr class="my-2">
                        <p class="lead-2">Click the button below to get registered!</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href='@routes.OwnerController.create()' role="button">Sign Up!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="below-jumbo">
            <br>
            <div class="row row11">
                <div class="col-md-3 mid">
                    <img src="https://openclipart.org/image/300px/svg_to_png/123/molumen-couvert.png" alt="handshake">
                    <br>
                    <h2 class="midtext"><br>Let's Dine</h2>
                    <p class="midp">Look up restaurants, read reviews, pick your favorite</p>
                </div>
                <div class="col-md-3 mid">
                    <img src="https://openclipart.org/image/300px/svg_to_png/281555/Sign9.png" alt="piggybank" class="svgimg">
                    <br>
                    <h2 class="midtext"><br>Want a good Meal?</h2>
                    <p class="midp"> Select from our various restaurants</p>
                </div>
                <div class="col-md-3 mid">
                    <img src="https://openclipart.org/image/200px/svg_to_png/205429/world-map.png" alt="piggybank">
                    <h2 class="midtext"><br>Search</h2>
                    <p class="midp">Chose from different locations and find the best rated in every location</p>
                </div>
            </div>
            <div class="bottom-wrapper">
                <div class="holder">
                    <h1 class="bottom-h1">Getting started!</h1>
                    <hr>
                    <h2 class="bottom-h2">Are you a restaurant or business owner or a user/customer<br><br></h2>
                    <div class="row">
                        <div class="container col-md-6">
                            <div class="container loginbox">
                                <div class="card">
                                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Restaurant_La_Tour_d%27Argent_-_Salle_du_restaurant.JPG" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Sign Up as a member and get regular discounts on your favorite restaurants!</h4>
                                        <p class="card-text">We'll ask you for some basic information and you'll be on your way</p>
                                        <a href='@routes.CustomerController.create()' class="btn btn-success btn-block">Sign up today!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container col-md-6">
                            <div class="container loginbox">
                                <div class="card" >
                                    <img class="card-img-top" src="http://media.openclipart.org/people/j4p4n/500px-CDC-outtoeat.png" alt="Card image cap" >
                                    <div class="card-body">
                                        <h4 class="card-title">Sign up to be a Owner!</h4>
                                        <p class="card-text">We'll ask you for some basic information as well as details about the car you plan to use.</p>
                                        <a href='@routes.OwnerController.create()' class="btn btn-success btn-block">Sign up today!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar cnavbar-collapse collapse navbar-footer">
            <div class="container navcontainer">
                <a class="navbar-brand" id="bottom-brand" href="#">
                    RestaurantReview</a>
                <ul class="nav">
                    <li class="nav-item-bottom">
                        <a class="nav-link" id="footerlink" href="#">Terms</a>
                    </li>
                    <li class="nav-item-bottom">
                        <a class="nav-link" id="footerlink" href="#">Services</a>
                    </li>
                    <li class="nav-item-bottom">
                        <a class="nav-link" id="footerlink" href="#">Financial</a>
                    </li>
                    <li class="nav-item-bottom">
                        <a class="nav-link" id="footerlink" href="#">Security</a>
                    </li>
                    <li class="nav-item-bottom">
                        <a class="nav-link" id="footerlink" href="#">Social Media</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
}

